package main

import (
	"github.com/trinitytechnology/ebrick"
)

func main() {
	app := ebrick.NewApplication()
	app.RegisterModules(
    {{ range .Modules }}
        &{{ .Name }}Module{},
    {{ end }}
    )
	app.Start()
}
