package main

import (
	"github.com/trinitytechnology/ebrick"{{ range .InternalModules }}
    "{{ $.Package }}/internal/{{ .Package }}"
{{ end }}
)

func main() {
	app := ebrick.NewApplication()
	app.RegisterModules({{ range .InternalModules }}
        &{{ .Package }}.{{ .Name }}Module{},
    {{ end }})
	app.Start()
}
